/* CSS HEX
--granite-gray: #666666ff;
--titanium-yellow: #f7e733ff;
--cultured: #f7f7f9ff;
--raisin-black: #272932ff;
--keppel: #44bba4ff; */

/* =============================================================================
| CSS VARIABLES
============================================================================= */

:root {
    /* CSS HSL palette */
    --opacity: 1;

    --dark-gray: hsla(229, 12%, 17%, var(--opacity));
    --medium-gray: hsla(0, 0%, 32%, var(--opacity));
    --light-gray: #807E7E;
    /* --light-gray: hsla(0, 0%, 56%, var(--opacity)); */
    --the-yellow: hsla(55, 92%, 58%, var(--opacity));
    --the-white: hsla(240, 14%, 97%, var(--opacity));
    --the-turquoise: hsla(168, 47%, 50%, var(--opacity));


    /* MAIN VARS */
    --font-main: 'Manjari', sans-serif;  
    --font-fancy: 'Bree Serif', serif;
    --border-thin: 1px solid var(--medium-gray);
    /* --c-bg-main:  var(--dark-gray); */
    /* --c-text-main: var(--the-white); */
    --width-content-main: 70vw;
    /* TODO: dark mode and */

    --padding-main: 16px;
    --gap-main: 3vh;

    /* *TESTING VARS */
    --testing-border: 2px solid hotpink;



    /* SQUARE */
    --c-correct: var(--the-turquoise);
    --c-present: var(--the-yellow);
    --c-absent:var(--light-gray);
    
    --sq-side: 50px; /*TODO -- set dynamically*/
    --sq-border: 2px solid var(--medium-gray);
    
    /* KEYBOARD */
    --c-keyboard-absent: var(--dark-gray);
    --keyboard-gap: calc(var(--key-width)*0.2);
    /* --keyboard-width: 70vw; */
    --key-width: 6vw; /* is 10% of keyboard width -- not considering the gaps */
    --key-height: calc(var(--key-width)*1.25);
    --key-sp-w: calc(var(--key-width)*1.5);



}

/* =============================================================================
| COLOR MODES
============================================================================= */
/* darkmode and lightmode are applied to main#app-main */
.darkmode {
    /* SEE ORIGINAL WORDLE FOR REFERENCE */
    /* TODO: colors are darkened a bit */
    --c-bg-main:  var(--dark-gray);
    --c-text-main: var(--the-white);
    --c-key-bg: var(--light-gray);
    --c-square-bg: var(--dark-gray);

    --c-keyboard: var(--light-gray);
      /* TODO -- edit to darken in dark mode*/
    --c-correct: var(--the-turquoise);
    --c-present: var(--the-yellow);
    --c-absent:var(--light-gray);

    

}

.lightmode {
    /* SEE ORIGINAL WORDLE FOR REFERENCE */
    --c-bg-main:  var(--the-white);
    --c-text-main: var(--dark-gray);
    --c-key-bg: var(--light-gray);
    
    --c-keyboard: var(--light-gray);
    --c-correct: var(--the-turquoise);
    --c-present: var(--the-yellow);
    --c-absent:var(--light-gray);

}

/* =============================================================================
| THE VERY BASICS
============================================================================= */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* body here is main#app-main */
}

main#app-main {
    /*  to which where dark and light modes are applied */
    background-color: var(--c-bg-main);
    font-family: var(--font-main);
    color: var(--c-text-main);
    /* --- Regular styles --- */
    /* border: var(--testing-border); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-main);
 }

a, button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-family: var(--font-main);
    padding: 0;
}

h1:not(.logo) {
    font-family: var(--font-fancy);
    margin-bottom: var(--padding-main);
}

h2, h3 {
    font-family: var(--font-main);
    font-weight: 400;
}

/* =============================================================================
| GENERAL SPACING
============================================================================= */
header.main, .game-board, .keyboard, .modal-box {
    padding: var(--padding-main);
}

/* =============================================================================
| OUTER STRUCTURE
============================================================================= */
/* The one in index.html: */
 main#main {
     width: 100%;
}
    


/* =============================================================================
| BY INNER COMPONENT/THING
============================================================================= */

/* ====== HEADER ====================================================*/
 header.main {
     width: 100%;
    border-bottom: var(--border-thin);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
 }

.nav-left {}
.nav-right {}


.nav-btn {}
.icon {}

.logo {
    font-family: var(--font-fancy);
    letter-spacing: 0.8px;
}


/* ====== MODAL ====================================================*/
.modal-bg {
    --opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--c-bg-main);
    z-index: 800;
}

.modal-box {
    width: var(--width-content-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--c-bg-main);
    border: var(--testing-border);
    z-index: 810;

}
.btn-x {
    position: absolute;
    top: var(--padding-main);
    right: var(--padding-main);

}


/* =============================================================================
| GAME
============================================================================= */
.game-board {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    display:grid;
    gap: calc(var(--sq-side)*0.1);
}

.game-row {
    display: flex;
    flex-direction: row;
    gap: calc(var(--sq-side)*0.1);
}

.game-square {
    border: var(--sq-border);
    height: var(--sq-side);
    width: var(--sq-side);
}



/* =============================================================================
| KEYBOARD
============================================================================= */

.keyboard {
    /* height: has a fixed height -- its words that resize */
    /* width: also fixed -- based on mobile - its blank area that grows */
    border: var(--testing-border);
    /* min-width: 60vw; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: var(--keyboard-gap);

}

.keyboard-row {
    /* border: var(--testing-border); */
    display: flex;
    gap: var(--keyboard-gap);
}

.keyboard-row > button {
    text-transform: uppercase;
    color: var(--c-text-main);
    font-weight: bold;
    padding-top: 3px;
    width: var(--key-width);
    height: var(--key-height);
    border-radius: calc(var(--key-width)*0.2);
    background-color: var(--c-keyboard);
}

.keyboard-row > button.sp {
    width: var(--key-sp-w);
}




